<!-- Banner -->
  <section id="banner" >
  </section>

<!-- Highlights -->
  <section class="wrapper style1">
    <div class="container">
      <div class="row 200%">
        <section class="4u 12u(narrower)">
          <div class="box highlight">
            <i class="icon major fa-phone"></i>
            <h3>Communucation</h3>
            <p>Through Leaf, farmers and Agronomists have an accessible platform where they can have valuable conversations.</p>
          </div>
        </section>
        <section class="4u 12u(narrower)">
          <div class="box highlight">
            <i class="icon major fa-leaf"></i>
            <h3>Efficiency</h3>
            <p> By using Leaf farmers can alert the regional Agronomist of their conditions and eliminate travel time. In turn, Leaf can automatically identify problems and recommend solutions.</p>
          </div>
        </section>
        <section class="4u 12u(narrower)">
          <div class="box highlight">
            <i class="icon major fa-pagelines"></i>
            <h3>Cooperation</h3>
            <p>Leaf works with both farmers and Agronomists to maximize healthy barley yield.</p>
          </div>
        </section>
      </div>
    </div>
  </section>

<!-- Gigantic Heading -->
  <section class="wrapper style2">
    <div class="container">
      <header class="major">
        <h2>Promoting Healthy Barley Through Healthy Relationships</h2>
        <p> Barley forever</p>
      </header>
    </div>
  </section>

<!-- Posts -->
  <section class="wrapper style1">
    <div class="container">
      <div class="row">
        <section class="6u 12u(narrower)">
          <div class="box post">
            <!-- <a href="#" class="image left"><img src="images/pic01.jpg" alt="" /></a> -->
            <div class="inner">
              <i class="icon major fa-database"></i>
              <h3>Hardware</h3>
              <p>Leaf can upload data to your phone and webserver about soil humidity, temperature, regular humidity.</p>
            </div>
          </div>
        </section>
        <section class="6u 12u(narrower)">
          <div class="box post">
            <!-- <a href="#" class="image left"><img src="images/pic02.jpg" alt="" /></a> -->
            <div class="inner">
            <i class="icon major fa-mobile"></i>
              <h3>Mobile App</h3>
              <p>Through our app, famers can file requests and take pictures, then send them to the .</p>
            </div>
          </div>
        </section>
      </div>
      <div class="row">
        <section class="6u 12u(narrower)">
          <div class="box post">
            <!-- <a href="#" class="image left"><img src="images/pic03.jpg" alt="" /></a> -->
              <div class="inner">
              <i class="icon major fa-users"></i>
              <h3>Farmer Account</h3>
              <p>A farmer can take pictures of the barley in question, data gathered from the Leaf in the field will automatically be attatched to the request.</p>
            </div>
          </div>
        </section>
        <section class="6u 12u(narrower)">
          <div class="box post">
            <!-- <a href="#" class="image left"><img src="images/pic04.jpg" alt="" /></a> -->
            <div class="inner">
            <i class="icon major fa-user"></i>
              <h3>Agronomist Account</h3>
              <p>An Agronomist can view the requests that have been sent to them and answer the requests with suggestions and courses of action.</p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
