<section style="padding: 10px">
<h2><a href="#/requests" style="margin: 10px; border: 1px solid lightgray; padding: 0px 5px 5px 5px;border-radius: 5px">&larr;</a>Title: {{request.title}}</h2>
<div ng-repeat="image in request.pictures" class="images">
  <img ng-src = "/images/{{username}}/{{request._id}}/{{$index}}.jpg">
  <p>{{image}}</p>
</div>

<!-- graphs -->
<script src="../javascripts/graphs.js"></script>
<section>
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!--Div that will hold the pie chart-->
    <div style = "padding-top: 20px; padding-left:20px; padding-right:20px" class="btn-group btn-group-justified" role="group" aria-label="...">
	  <div class="btn-group" role="group">
	    <button id = "humidity" type="button" onclick="showDiv(0)" class="btn btn-default">Humidity</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button id = "soil" type="button" onclick="showDiv(1)" class="btn btn-default">Soil</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button id = "temperature" type="button" onclick="showDiv(2)" class="btn btn-default">Temperature</button>
	  </div>
	</div>
  <div id = 'chart_div' ></div>
</section>

<section style="padding: 10px">
	<form class="form" ng-submit="editrequest()">
		<div class="form-group">
			<label>Reply / Comment</label>
			<textarea name="Text1" cols="40" rows="5"></textarea>
		</div>
		<div style="margin-top: 20px">
			<button type="submit" class="button" ng-disabled="disabled">Send Updated Reply</button>
		</div>
	</form>
</section>


</section>
